name: Test

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  matrix:
    runs-on: ubuntu-24.04
    outputs:
      ruby: ${{ steps.ruby.outputs.versions }}
    steps:
      - uses: actions/checkout@v6
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - id: ruby
        uses: voxpupuli/ruby-version@v2
  test:
    runs-on: ubuntu-latest
    needs: matrix
    strategy:
      fail-fast: false
      matrix:
        ruby: ${{ fromJSON(needs.matrix.outputs.ruby) }}

    steps:
      - uses: actions/checkout@v6
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake spec

  tests:
    needs:
      - matrix
      - test
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - run: echo Test suite completed
